body{
    font-family: 'Spartan', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero{
    max-width: 1080px;
    display: flex;
    flex-direction: row;
}
.left{
    width: 50%;
}
.boxSubTitle{
    max-width: 500px;
}
.right{
    width: 50%;
    align-items: flex-end;
}
.title{
    color: hsl(300, 43%, 22%);
    margin-bottom: 10px;
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 50px;
}
.subTitle{
    color: hsl(303, 10%, 53%);
    margin-top: 0px;
    line-height: 25px;
}

.main{
    width: 1080px;
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.card{
    /* display: flex; */
    width: 340px;
    height: 210px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    color: white;
}

.card2{
    order: 1;
    align-self: center;
}
.card3{
    order: 2;
    align-self: flex-end;
}

.list{
    color: hsl(300, 43%, 22%);
}
.description {
    font-size: 15px;
}